/* ----------BODY---------- */

* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    font-family: "Montserra", sans-serif;
    line-height: 1.5;
    font-size: 16px; 
}
/* ----------ASIDE----------*/

aside{
    flex: 0;
    background-color:rgb(91, 174, 241);
}
aside h3{
    background-color: #424242;
    text-transform: uppercase;
    color: rgb(221, 218, 51);
    text-align: center;
    font-size: 30px;
}
/* ----------Aside-Figure---------- */

figure{
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 60px;
}
img{
    height: 280px; 
    width: 280px; 
    border: 5px solid rgb(221, 218, 51);
    border-radius: 50%; 
}
/* ----------Aside-Contact-Me---------- */

.contact{
    padding: 40px 0px 40px 30px;
    font-weight: 600;
}
.me{
    padding: 40px 30px 45rem 30px;
    text-align: justify;
}
/* ----------Aside-Leisure_Icons---------- */

 .leisure_icons{
     display: flex;
     justify-content:space-evenly;
     height: 60px;
     padding: 40px;
}
.leisure_icons i{
    display: block;
    color: #424242;
    text-align: center;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid;
    border-radius: 50%;
}
/* ----------MAIN---------- */

main{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 100px;
}
/* ----------MAIN-TITLE---------- */

h1{
    text-shadow:rgb(221, 218, 51) 3px 2px;
    font-size: 80px;
}
h1 span{
    color: rgb(91, 174, 241);
}
h2{
    text-shadow:rgb(221, 218, 51) 3px 2px;
    font-size: 35px;
    padding-bottom: 8rem;
}
h2 span{
    border-bottom: 2px solid rgb(91, 174, 241);
    padding-bottom: 3px;
}
main h3{
    border-bottom: 2px solid rgb(91, 174, 241);
    text-shadow:rgb(221, 218, 51) 3px 2px;
    font-weight: 600;
    font-size: 35px;
    padding-top: 3rem; 
}
main i{
    color: rgb(91, 174, 241);
}
h3 i{
    margin-right: 40px;
}
/* ----------SECTION-DATE_CITY-ARTICLE----------*/

.section{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section .far{
    font-size: 0.9rem;
    padding-top: 0.5rem;
}
.section .fas{
    font-size: 0.6rem;
    padding-top: 0.5rem;
    padding-left: 4px;
}
.date_city{
    margin-left: 40px;
}
.article{
     margin-left: 10.8em;
 }
.article h4{
    text-transform: uppercase;
}
/* ----------Footer---------- */

footer{
    display: flex;
    justify-content: space-between;
}
.recommandation1{
    padding: 2rem;
    margin-right: 17rem;
}
.recommandation{
    padding-top: 2rem;
}
 
/* ---------Responsive---------- */

@media only screen and (max-width: 600px){

    body{
        flex-direction: column;
        width: 100%;
    }
    .aside_photo{
        margin: 0px;
    }
    .contact{
        padding: 0px 20px;
    }
    .me{
        padding: 10px 20px 10px 20px;
    }
    .section_main{
        margin: 10px 10px 10px 10px;
    }
    .header h1{
        font-size: 60px;
    }
    .header h2{
        font-size: 25px;
    }
    .info_margin{
        margin-left: 5.7em;
    }
    .info_margin1{
        margin-left: 4.2em;
    }
    .experience, .footer{
        font-size: 20px;
    }
    .recommandation2{
        margin-left: 20px;
    }
    .recommandation1{
       margin-left: 35px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1024px){

    body{
        flex-direction: column;
    }
    .aside_photo{
        margin: 0px;
    }
    .contact{
        padding: 10px 0px 10px 20px;
        font-size: 20px;
    }
    .me{
        padding: 20px 20px 20px 20px;
        font-size: 20px;
    }
    .leisure_icons i{
        font-size: 45px;
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
    .section_main{
        margin-left: 20px;
    }
    .experience, .footer{
        font-size: 21px;
    }
    .info_margin{
        margin-left: 11.5rem;
    }
    .info_margin1{
        margin-left: 6em;
    }
    .recommandation2{
        margin-left: 15rem;
    }
    .recommandation1{
       margin-left: 35px;
    }

}